<div class="mt-36 md:mb-0 mb-10 container mx-auto">
  <footer class="flex flex-col items-center py-4 my-4">
    <a href="/" class="text-gray-300 text-lg font-bold mb-2"> Notes. </a>

    <ul class="flex space-x-4 mb-2" aria-label="Footer navigation">
      <li>
        <a href="/" class="text-sm text-gray-400 hover:text-gray-300 transition"
          >Home</a
        >
      </li>
      <li>
        <a
          href="https://github.com/abdullah0408/expressjs-note-app-WT1CNI5vxRngjD"
          class="text-sm text-gray-400 hover:text-gray-300 transition"
          >GitHub</a
        >
      </li>
      <li>
        <a
          href="/logout"
          class="text-sm text-gray-400 hover:text-gray-300 transition"
          >Log Out</a
        >
      </li>
    </ul>

    <p class="text-sm text-gray-400">
      © <%= new Date().getFullYear() %>
      <a href="/" class="text-gray-300 hover:underline transition"
        >Company, Inc</a
      >
    </p>
  </footer>
</div>
