<div class="z-10 container mx-auto px-4">
  <header
    class="flex items-center justify-between py-3 mb-4 relative"
    role="banner"
  >
    <a href="/" class="text-white font-bold text-3xl">Notes</a>

    <nav class="hidden md:flex items-center space-x-4" role="navigation">
      <a
        href="/"
        class="text-gray-300 hover:text-gray-400 transition duration-200"
        >Home</a
      >
      <a
        href="https://github.com/abdullah0408/expressjs-note-app-WT1CNI5vxRngjD"
        class="text-gray-300 hover:text-gray-400 transition duration-200"
        >GitHub</a
      >

      <div class="flex space-x-2">
        <a
          href="/auth/google"
          class="btn btn-outline-primary border border-gray-500 text-gray-500 px-4 py-2 rounded hover:bg-gray-500 hover:text-white transition duration-200"
          >Sign Up</a
        >
        <a
          href="/auth/google"
          class="btn btn-primary bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 transition duration-200"
          >Log In</a
        >
      </div>
    </nav>
  </header>

  <nav
    class="md:hidden fixed bottom-0 left-0 right-0 bg-gray-800 p-3 flex justify-around border-t border-gray-700 rounded-t-lg shadow-lg"
    role="navigation"
  >
    <a
      href="/"
      class="text-gray-300 hover:text-white transition duration-200 text-center"
    >
      <span class="block text-sm">Home</span>
    </a>
    <a
      href="/dashboard"
      class="text-gray-300 hover:text-white transition duration-200 text-center"
    >
      <span class="block text-sm">Dashboard</span>
    </a>
    <a
      href="https://github.com/abdullah0408/expressjs-note-app-WT1CNI5vxRngjD"
      class="text-gray-300 hover:text-white transition duration-200 text-center"
    >
      <span class="block text-sm">GitHub</span>
    </a>
    <a
      href="/auth/google"
      class="text-gray-300 hover:text-white transition duration-200 text-center"
    >
      <span class="block text-sm">Sign Up</span>
    </a>
    <a
      href="/auth/google"
      class="text-gray-300 hover:text-white transition duration-200 text-center"
    >
      <span class="block text-sm">Log In</span>
    </a>
  </nav>
</div>
